---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"fe1e4746-c940-4ace-b111-8be64ee53b35","personalisation":{"reg_identifier":"CBDU2","first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42, Foo Gardens, Baz City, FA1 1KE","date_registered":"2021-04-19T15:53:18.166+00:00","link_to_file":"Hello
        World"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 7fc894bc-fc92-40d2-547b-872948a40375
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#You are now registered as an upper tier waste
        carrier and dealer\r\n\r\nYour registration number is\r\n\r\nCBDU2\r\n\r\n#Your
        registration lasts for 3 years, however the link to your certificate will
        only be available for 18 months. You must download the file and keep it for
        reference.\r\n\r\nDownload your certificate at: Hello World\r\n\r\nJane\r\n\r\nBased
        on what you told us about your organisation and what it does, we have registered
        [...]
