<%= render("waste_carriers_engine/shared/back", back_path: back_renew_registration_forms_path(token: @renew_registration_form.token)) %>

<div class="text">
  <h1 class="heading-large">Renew registration Form - TODO</h1>
</div>
