<p id="notice"><%= notice %></p>

<h1 class="heading-large">Listing Registrations</h1>

<p>This page is for testing purposes only. Click the reg_identifier to enter the renewals process.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Reg identifier</th>
      <th scope="col">Company name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td scope="row"><%= link_to registration.regIdentifier, new_renewal_start_form_path(registration[:reg_identifier]) %></td>
        <td><%= registration.companyName %></td>
        <td><%= registration.metaData.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
