<h2 class="govuk-heading-m"><%= registration.company_name %></h2>
<p class="govuk-body">
  <%= t(".tier.#{registration.tier.downcase}") %>
  <% if registration.upper_tier? %>
    -
    <%= t(".registration_type.#{registration.registration_type}") %>
  <% end %>
</p>
<p class="govuk-body">
  <%= displayable_address(registration.contact_address).join(", ") %>
</p>
