<div class="panel wcr-panel wcr-panel-border-all">
  <h2 class="heading-medium"><%= registration.company_name %></h2>

  <p class="lede">
    <%= t(".tier.#{registration.tier.downcase}") %> -
    <%= t(".registration_type.#{registration.registration_type}") %>
  </p>
  <p>
    <%= displayable_address(registration.contact_address).join(", ") %>
  </p>
</div>
