<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-1">
  <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
    <%= message %>
  </h2>
  <% if details.present? %>
    <p>
      <%= details %>
    </p>
  <% end %>
</div>
