<div class="ea-footer">
  <p>
    <%= t(".support_text") %>
  </p>
  <ul>
    <li class="inline"><%= link_to 'Privacy', "/pages/privacy",  target: "_blank" %></li>
    <li class="inline"><%= link_to 'Cookies', "/pages/cookies",  target: "_blank" %></li>
  </ul>
</div>
