<div class="ea-footer">
  <p>
    <%= t(".support_text") %>
  </p>
  <ul>
    <li class="inline"><%= link_to 'Privacy', "/",  target: "_blank" %></li>
    <li class="inline"><%= link_to 'Cookies', "/",  target: "_blank" %></li>
  </ul>
</div>
