<div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-heading" data-module="govuk-notification-banner">
   <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading" id="govuk-notification-banner-heading">
      <%= message %>
    </h3>
  </div>
</div>
