<% content_for :title, I18n.t(".system_error_title")  %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m"><%= I18n.t(".system_error_heading") %></h1>
    <p class="govuk-body"><%= I18n.t(".system_error_text") %></p>
  </div>
</div>
