<%= render("waste_carriers_engine/shared/back", token: @check_registered_company_name_form.token) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <p class="govuk-body"><%= t(".paragraph_1") %></p>
    <p class="govuk-body"><%= t(".paragraph_2") %></p>
  </div>
</div>