<div class="text">
  <h1 class="heading-large"><%= t(".heading") %></h1>

  <p><%= t(".paragraph_1") %></p>

  <%= link_to t(".next_button"),
              Rails.application.routes.url_helpers.registration_path(@transient_registration.reg_identifier),
              class: "button" %>
</div>
