* {
  font-family: Helvetica, Arial, Sans-Serif !important;
  background: #FFF;
}
h1 {
  margin-bottom: 20px;
}
body {
  margin: 40px 60px;
}
table tr td:first-child {
  width: 220px;
}
ul, li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
li, td, p {
  font-size: 18px;
  line-height: 1.5;
}
table th {
  margin-top: 20px;
  text-align: left;
  font-size: 22px;
}

#wrapper {
  width: 800px; /* fixed width like a standard paper size */
  margin: 0 auto; /* center the content */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for paper effect */
}

.page-header {
  text-align: center;
  margin-bottom: 20px;
}

.certificate_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.certificate_table th, .certificate_table td {
  padding: 8px;
  text-align: left;
}

.certificate_text {
  font-size: 14px;
  line-height: 1.6;
}

@media print {
  .cta-button {
    display: none; /* Hide elements not needed for print */
  }
}
