<div class="form-group">
  <p>
    <%= f.submit t(".next_button"), class: "button" %>
    <span class="edit_linker">
      <%= t(".button_linker") %>
      <%= link_to t(".cancel_button"), new_confirm_edit_cancelled_form_path(@presenter.token) %>
    </span>
  </p>
</div>
