<!-- This is used for showing errors from when the payment transaction fails -->
<% if flash[:error].present? %>
  <div class="govuk-error-summary">
    <h2 class="govuk-error-summary__title">
      <%= t(".payment_error_heading") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li><%= flash[:error] %></li>
      </ul>
    </div>
  </div>
<% end %>
