<!-- This is used for showing errors from worldpay when the transaction fails -->
<% if flash[:error].present? %>
  <div class="error-summary" role="alert">
    <h2 class="heading-medium error-summary-heading"><%= t(".payment_error_heading") %></h2>

    <ul class="error-summary-list">
      <p><%= flash[:error] %></p>
    </ul>
  </div>
<% end %>
