<% content_for :title, t(".title") %>

<div class="text">
  <h1 class="heading-large">
    <%= t(".heading") %>
  </h1>

  <p>
    <%= t(".paragraph1") %>
  </p>

  <div class="form-group">
    <%= link_to t(".register_again"), new_start_form_path, class: "button" %>
  </div>
</div>
