<% content_for :title, t(".title") %>

<div class="govuk-body">
  <h1 class="govuk-heading-l">
    <%= t(".heading") %>
  </h1>

  <p>
    <%= t(".paragraph1") %>
  </p>

  <div class="govuk-form-group">
    <%= link_to t(".register_again"), new_start_form_path, class: "govuk-button" %>
  </div>
</div>
